﻿<div class="container" ng-controller="BalanceController">
    <div class="row">
        <div class="col-lg-12">
            <h3>The game <b>{{GameSelected.description}}</b> was selected: 
                <a href="#historyMove">Go to play now</a>
            </h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Insert a new balance</h3>
        </div>
    </div>

    <form role="form" ng-submit="BalanceInsert()">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-11">                   
                    <select name="selectCardInserting" id="selectCardInserting"
                            class="form-control"
                            ng-options="card.CodCard as card.DscCard for card in CardLists"
                            ng-model="BalanceInserting.CodCard"
                            >
                    </select>
                </div>

                <div class="col-sm-1">
                    <img border="1" width="67px" height="34px" ng-src="img/cards/{{BalanceInserting.CodCard}}.png" />
                </div>
            </div>
            
            <br />

            <div class="row">
                <div class="col-sm-12">
                    <input type="number" step="any" name="ValStarted" class="form-control" 
                        placeholder="Start with value" ng-model="BalanceInserting.ValStarted"/>
                </div>
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Insert Balance</button>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h3>Balance List</h3>
        </div>
    </div>
    
    <table class="table">
        <tr>
            <th>Card</th>            
            <th>Started Value</th>
            <th>Total Value</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="balancelist in BalanceLists">
            <td>
                <img border="1" width="67px" height="34px" ng-src="img/cards/{{balancelist.CodCard}}.png" />
                <select name="selectCard" id="selectCard" 
                        ng-options="card.CodCard as card.DscCard for card in CardLists"
                        ng-model="balancelist.CodCard"
                        style="border:0; appearance: none; -webkit-appearance: none; -moz-appearance: none; "
                        disabled>
                </select>
            </td>
            <td>{{balancelist.ValStarted | currency : 'R$'}}</td>
            <td>{{balancelist.ValTotal | currency : 'R$'}}</td>            
            <td>
                <button type="button" class="btn btn-danger" ng-click="BalanceDelete(balancelist.CodBalance)">Delete</button>
            </td>
        </tr>
    </table>
</div>