﻿<div class="container" ng-controller="GameController">
    <div class="row">
        <div class="col-lg-12">
            <h3>Insert a new game</h3>
        </div>
    </div>    
    <form role="form" ng-submit="GameInsert()">
        <div class="form-group">
            <input type="text" name="Description" class="form-control" placeholder="Description" ng-model="GameInserting.Description"
            />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Insert Game</button>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h3>Game List</h3>
        </div>
    </div>

    <table class="table">
        <tr>
            <th>Description</th>
            <th>Date</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="gamelist in GameLists">
            <td>
                <input type="text" ng-model="gamelist.Description" style="border: 0;"></input>
            </td>
            <td>{{gamelist.Date | date: 'MM/dd/yyyy'}}</td>
            <td>
                <a class="btn btn-primary" ng-click="GameSelected(gamelist.Id, gamelist.Description)" href="#balance">Select</a>                
                <button type="button" class="btn btn-warning" ng-click="GameUpdate(gamelist)">Update</button>
                <button type="button" class="btn btn-danger" ng-click="GameDelete(gamelist.Id)">Delete</button>
            </td>
        </tr>
    </table>
</div>