﻿<div class="container" ng-controller="HistoryMoveController">
    <div class="row">
        <div class="col-lg-12">
            <h3>The game <b>{{GameSelected.description}}</b> was selected</h3>
        </div>
    </div>
    
    <div class="row">
        <div class="col-lg-12">
            <h3>Select one card on left and/or right, and inserting a value</h3>
        </div>
    </div>

    <form role="form" ng-submit="HistoryMoveInsert()">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-4">
                    <label>Credit: </label>
                </div>

                <div class="col-sm-4" style="border-right:solid 1px silver; border-left:solid 1px silver;">
                    <label>Value: </label>
                </div>

                <div class="col-sm-4">
                    <label>Debit: </label>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-3">
                    <select name="selectCardInserting" id="selectCardInserting"
                            class="form-control"
                            ng-options="card.CodCard as card.DscCard for card in CardLists"
                            ng-model="HistoryMoveInserting.CodCardCredit">
                    </select>
                </div>

                <div class="col-sm-1">
                    <img border="1" width="67px" height="34px" ng-src="img/cards/{{HistoryMoveInserting.CodCardCredit}}.png" />
                </div>

                <div class="col-sm-4" style="border-right:solid 1px silver; border-left:solid 1px silver;">
                    <input type="number" step="any" name="ValTotal" class="form-control" 
                        placeholder="Type a value" ng-model="HistoryMoveInserting.ValTotal"/>
                </div>

                <div class="col-sm-3">
                    <select name="selectCardInserting" id="selectCardInserting"
                            class="form-control"
                            ng-options="card.CodCard as card.DscCard for card in CardLists"
                            ng-model="HistoryMoveInserting.CodCardDebit">
                    </select>
                </div>

                <div class="col-sm-1">
                    <img border="1" width="67px" height="34px" ng-src="img/cards/{{HistoryMoveInserting.CodCardDebit}}.png" />
                </div>                
            </div>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default">Insert History Move</button>
        </div>
    </form>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h3>Balance List</h3>
        </div>
    </div>
    
    <table class="table">
        <tr>
            <th>Card</th>         
            <th>Total Value</th>
        </tr>
        <tr ng-repeat="balancelist in BalanceLists">
            <td>
                <img border="1" width="67px" height="34px" ng-src="img/cards/{{balancelist.CodCard}}.png" />
                <select name="selectCard" id="selectCard" 
                        ng-options="card.CodCard as card.DscCard for card in CardLists"
                        ng-model="balancelist.CodCard"
                        style="border:0; appearance: none; -webkit-appearance: none; -moz-appearance: none; "
                        disabled>
                </select>
            </td>
            <td>{{balancelist.ValTotal | currency : 'R$'}}</td>
        </tr>
    </table>

    <hr>

    <div class="row">
        <div class="col-lg-12">
            <h3>History Move List</h3>
        </div>
    </div>
    
    <table class="table">
        <tr>
            <th>Card Credit</th>            
            <th>Card Debit</th>
            <th>Value</th>
            <th>Date Move</th>
            <th>Action</th>
        </tr>
        <tr ng-repeat="historyMovelist in HistoryMoveLists">
            <td>
                <img border="1" width="67px" height="34px" ng-src="img/cards/{{historyMovelist.CodCardCredit}}.png" />
                <select name="selectCard" id="selectCard" 
                        ng-options="card.CodCard as card.DscCard for card in CardLists"
                        ng-model="historyMovelist.CodCardCredit"
                        style="border:0; appearance: none; -webkit-appearance: none; -moz-appearance: none; "
                        disabled>
                </select>
            </td>
            <td>
                <img border="1" width="67px" height="34px" ng-src="img/cards/{{historyMovelist.CodCardDebit}}.png" />
                <select name="selectCard" id="selectCard" 
                        ng-options="card.CodCard as card.DscCard for card in CardLists"
                        ng-model="historyMovelist.CodCardDebit"
                        style="border:0; appearance: none; -webkit-appearance: none; -moz-appearance: none; "
                        disabled>
                </select>
            </td>
            <td>{{historyMovelist.ValTotal | currency : 'R$'}}</td>
            <td>{{historyMovelist.DatMove | date: 'MM/dd/yyyy'}}</td>            
            <td>
                <button type="button" class="btn btn-danger" ng-click="HistoryMoveDelete(historyMovelist.CodHistoryMove)">Delete</button>
            </td>
        </tr>
    </table>
</div>